<div class="container">

  <div class="jumbotron">

    <div class ="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="center-block">ReelTalk Search</h1>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class ="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 center-block">
        <%= form_tag "/", method: "GET" do %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Search" %>
        <% end %>
      </div>
      <div class="col-md-4"></div>
    </div>

  </div> 
<!-- end of jumbotron -->


  <% if @searches %>
    <div class="owl-carousel">
      <% @searches.each do |s| %>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h3><%= link_to s.title, s %></h3>
            <% if s.poster != "N/A" %>
            <%= link_to image_tag(s.poster, alt: s.title, :class => "img-thumbnail"), s %>
            <% else %>
              <%= link_to image_tag("https://googledrive.com/host/0BxgJkaKRW8jofjNLTlByV3UyTXFXZWlBanczb0U1NzRuVGpwRERsNl9LbU5ZSDA0TEZnMEk/image-not-available.jpg", alt: s.title, :class => "img-thumbnail"), s %>
            <% end %>
          </div>
          <div class="col-md-4"></div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>