<header>
  <%= render 'layouts/nav' %>
</header>


<div class="container">

  <div class="jumbotron">

    <div class ="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="center-block">ReelTalk Search</h1>
      </div>
      <div class="col-md-3"></div>
    </div>
      
      <div class ="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 center-block">
          <%= form_tag "/", method: "GET" do %>
            <%= text_field_tag :q, params[:q] %>
            <%= submit_tag "Search" %>
          <% end %>
        </div>
        <div class="col-md-4"></div>
      </div>

  </div>

  <% if @searches %>
  	<% @searches.each do |s| %>
      <div class="search-card">
        <h3><%= link_to s.title, s %></h3>
        <img src=<%= s.poster %> alt=<%=s.title %> class="img-thumbnail">
      </div>
  	<% end %>
  <% end %>

</div>