<div class="container">

  <div class="jumbotron">

    <div class ="row">
      <div class="col-md-12" style="text-align:center">
        <h1 class="center-block">ReelTalk</h1>
      </div>
    </div>

 <!--    <div class="row">
      <div class="col-md-12" style="text-align:center">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Enter your movie . . .">
          </div>
          <button type="search" class="btn btn-default">Search</button>
        </form>
      </div>
    </div> -->

    <div class ="row">
      <div class="col-md-12" style="text-align:center">
        <%= form_tag "/", method: "GET" do %>
        <div class="form-group form-inline ">
          <%= text_field_tag :q, params[:q], placeholder: 'Enter your movie . . .', size: 75, class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>

  </div> 
<!-- end of jumbotron -->


  <% if @searches %>
    <div class="owl-carousel">
      <% @searches.each do |s| %>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h3><%= link_to s.title, s %></h3>
            <% if s.poster != "N/A" %>
            <%= link_to image_tag(s.poster, alt: s.title, :class => "img-thumbnail"), s %>
            <% else %>
              <%= link_to image_tag("https://googledrive.com/host/0BxgJkaKRW8jofjNLTlByV3UyTXFXZWlBanczb0U1NzRuVGpwRERsNl9LbU5ZSDA0TEZnMEk/image-not-available.jpg", alt: s.title, :class => "img-thumbnail"), s %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>