<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h1><%= @search.title %></h1>
		</div>
	</div>

	<div class="row">
		<% if @url["trailers"] %>
			<div>
				<%= @url["trailers"]["trailer"]["embed"].html_safe %>
			</div>
		<% else %>
			<img src="https://googledrive.com/host/0BxgJkaKRW8jofjNLTlByV3UyTXFXZWlBanczb0U1NzRuVGpwRERsNl9LbU5ZSDA0TEZnMEk/novideo.png" alt=<%= @search.title %> class="img-thumbnail">
		<% end %>
	</div>

	<div class="row">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title">Plot: </h5>
			</div>
			<div class="panel-body">
				<%= @search.plot %>
			</div>
		</div>
	</div>

	<div class="row">
		<h5>Actors: </h5>
		<p><%= @search.actors %></p>
	</div>
</div>
